* {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 8px;
}

h2.tdkhoi {
    height: 30px;
    font-size: 26px;
    color: gray;
    cursor: pointer;
    overflow: hidden;
}

h2.tdkhoi:hover {
    color: lightblue;
}

h2.tdkhoi.xanh img {
    margin-right: 0px;
    transform: rotate(180deg);
}

h2.tdkhoi:hover img {
    margin-right: 0px;
}

.khoi1 {
    margin-bottom: 40px;
    border-bottom: 1px solid #808080ba;
    padding-bottom: 20px;
    padding-top: 20px;
}

img.down {
    width: 4%;
    cursor: pointer;
    float: right;
    margin-right: -30px;
    transition: 0.4s;
}

.noidung {
    width: 50%;
    margin: auto;
    font-family: 'Josefin Slab', serif;
}

body {background: white;
}
h1.tieude{
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-weight: 100;
    margin: 33px 0px;
    font-size: 40px;
}
.images {
    overflow: hidden;
}

img.anhnho {
    float: left;
    height: 100px;
    margin-right: 5px;
}
