a.chu {
    position: relative;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gold;
}

a.chu:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color:red;
    transition: 0.4s;
}
a.chu:hover:after {
    width: 100%;
}